# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Rplots
Rplots.pdf

# Snakemake files
workflow/*
!workflow/readme.md
